<h1> Conteudos </h1>

<%= link_to 'New', new_content_path %>

<% @contents.each do |c| %>
    <div>
        Title: <%= c.title %>
    </div>
    <div>
        Description: <%= c.description %>
    </div>
    <div>
        <%= link_to 'Edit', edit_content_path(c) %>
        <%= link_to 'Show', content_path(c) %>
    </div>
<% end %>